* {
	box-sizing: border-box;
}

/*Layout*/
#formSection {
	max-width: 20em;
	margin: 0 auto;
	text-align: center;
}

#imageSection {
	max-width: 900px;
	margin: 0 auto;
}

.tiled {
	max-width: 300px;
	max-height: auto;
	padding: 5px;
}

.inline-block {
	display: inline-block;
}


/*Fonts*/
h1,h2,h3,h4,h5,h6,p,li {
	font-family: arial;
}

h1 {
	font-size: 2em;
}

/*Animations*/
/*.fade-in {
	opacity: 1;
	transition: opacity 5s ease;
}

.opaque {
	opacity: 0;
}*/

#imageSection img {
	transition: opacity 5s ease;

	opacity: 0;
}

.fade {
	transition: opacity 5s ease;

	opacity: 1;
}

input.ng-invalid {
	border: solid 1px red;
}

.input-error-msg {
	color: red;
	font-size: 0.75em;
	margin: 0;
}
