<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flickr Searcher</title>

	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.js"></script>
	<script src="js/app.js"></script>
</head>

<body ng-app="flickrApp" ng-controller="flickrCtrl">

	<section id="formSection">
		<h1>Flickr Searcher</h1>
		<form name="searchForm" novalidate ng-submit="searchForm.$valid && submit()">
			<input type="text" name="searchTag" placeholder="Enter a tag to search for" ng-model="searchTag" ng-required="searchForm.$submitted">
				
			<button type="submit" name="submit">Submit</button>

			<div ng-messages="searchForm.searchTag.$error">
				<p class="input-error-msg" ng-message="required">This field is required</p>
			</div>
		</form>
		<p>{{searchStatus}}</p>
	</section>

	<button type="button" ng-click="imgFade=!imgFade">Fade</button>
	{{imgFade}}

	<section id="imageSection">
		<div ng-repeat="photo in photos" class="inline-block">
			<img ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" alt={{searchTag}} ng-class="{fade:imgFade}" class="tiled">
		</div>
	</section>

	<!-- Other Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
</body>
</html>